section(class="w-full mx-0 mt-5 px-32 pt-8 pb-10 hidden sm:block")
  div(class='row border-b-2 pb-20 sm:flex flex-wrap items-end justify-between')
    ul(class='col w-1/4')
      li.mb-3  
        a(href="#" class='font-bold') Company
      li 
        a(href="#" class='opacity-60 text-base') About
      li 
        a(href="#" class='opacity-60 text-base') Features
      li 
        a(href="#" class='opacity-60 text-base') Works 
      li 
        a(href="#" class='opacity-60 text-base') Career
    ul(class='col w-1/4')
      li.mb-3  
        a(href="#" class='font-bold') Company
      li 
        a(href="#" class='opacity-60 text-base') About
      li 
        a(href="#" class='opacity-60 text-base') Features
      li 
        a(href="#" class='opacity-60 text-base') Works 
      li 
        a(href="#" class='opacity-60 text-base') Career
    ul(class='col w-1/4')
      li.mb-3  
        a(href="#" class='font-bold') Company
      li 
        a(href="#" class='opacity-60 text-base') About
      li 
        a(href="#" class='opacity-60 text-base') Features
      li 
        a(href="#" class='opacity-60 text-base') Works 
      li 
        a(href="#" class='opacity-60 text-base') Career
    ul(class='col w-1/4')
      li.mb-3  
        a(href="#" class='font-bold') Company
      li 
        a(href="#" class='opacity-60 text-base') About
      li 
        a(href="#" class='opacity-60 text-base') Features
      li 
        a(href="#" class='opacity-60 text-base') Works 
      li 
        a(href="#" class='opacity-60 text-base') Career
  
  div(class='text-center pt-5')
    h3.text-base.opacity-60 Copyright 2022, Yungsan