extends layout.pug 
block content
  include home/banner 
  //- include home/trending
  include home/section_1
  include home/section_2
  include home/section_3
  include home/section_4
  include home/section_5
  include home/section_6
  include home/section_7
  
  