doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="/stylesheets/pseudo.css")
  body.font-body.text-main.text-lg
    include navbar
    
    block content
    
    include footer