doctype html
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="/stylesheets/custom.css")
    link(rel="icon" type="image/png" href="https://res.cloudinary.com/dfib3gi7p/image/upload/v1654084357/resources/img3_anyc6h.png")
  body.font-body.text-main.text-lg
    include navbar
    block content
    include footer