nav(class='nav list-none sm:flex w-full h-fit fixed top-0 left-0 bg-white justify-center items-end py-5 z-10 shadow-md hidden')
  li.w-auto.pr-48.font-bold
    a(href="/" class="text-3xl") Yungsan
      span.w-2.h-2.bg-blogblue.inline-block.rounded-full.mt-2
  li(class="nav-item relative w-auto h-fit px-8 inline-flex items-end cursor-pointer hover:text-blogblue") 
    a(href="/products" class='font-bold') Products
  li(class="nav-item w-auto px-8 relative hover:text-blogblue cursor-pointer")
    a(href="/brands" class='font-bold') Brands
  li(class="nav-item w-auto px-8 relative hover:text-blogblue cursor-pointer")
    a(href="/news" class="hover:text-blogblue font-bold") News
  li(class="nav-item w-auto px-8 relative hover:text-blogblue cursor-pointer")
    a(href="/blog" class="hover:text-blogblue font-bold") Blog
  li.w-auto.px-8.pl-48
    a(href="#" class="font-bold")
      svg.h-6.w-6.text-blogblue(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor' stroke-width='2')
        path(stroke-linecap='round' stroke-linejoin='round' d='M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z')
  li.w-auto.px-8
    a(href="/account" class="hover:text-blogblue font-bold") 
      svg.h-6.w-6(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor' stroke-width='2')
        path(stroke-linecap='round' stroke-linejoin='round' d='M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z')
