section(class="hidden sm:block banner w-full mt-20 bg-white overflow-hidden")
  .container.mx-auto.px-12.flex.items-start.flex-wrap
    div(class="text w-3/6 leading-10")
      h4(class="bannerContext text-blogblue") Trending Collection
      h1(class="bannerTitle text-5xl font-bodybold my-3" style="line-height: 1.3em") World's Biggest 
        br
        span(class="highlight text-highlight") Fashion
        span &nbsp; Collection
      p(class="bannerDescription tracking-normal leading-normal text-base font-bodyLight opacity-70") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda impedit consequuntur aliquid dolorum nulla optio eligendi architecto, placeat culpa temporibus. Voluptatum soluta alias deleniti modi nostrum impedit voluptatibus odit tenetur.
      .button-area.mt-12 
        button(class="btn rounded-md bg-blogblue text-white px-5 mr-5 border-2 border-blogblue") Discover Now
        button(class="btn rounded-md border-2 border-blogblue px-5 hover:text-white") Watch Video 

    div(class="image w-3/6 h-full relative")
      div(style="transform: translate(-50%, 20%)" class='circle w-80 h-80 absolute top-2/4 left-2/4 rounded-full bg-blogblue')
        img(src="/images/mainBanner.png", style="transform: translate(-50%, -66.5%)" class="absolute left-2/4 top-2/4 rounded-b-full")

    section(class="brands w-full flex items-end mt-20")
      div(class='brand w-1/5')
        a(href="#") 
          img(src="/images/brands/burberry.png", class="w-6/12")
      div(class='brand w-1/5')
        a(href="#") 
          img(src="/images/brands/gucci.png", class="w-6/12")
      div(class='brand w-1/5')
        a(href="#") 
          img(src="/images/brands/cartier.png", class="w-6/12")
      div(class='brand w-1/5')
        a(href="#") 
          img(src="/images/brands/chanel.png", class="w-6/12")
      div(class='brand w-1/5')
        a(href="#") 
          img(src="/images/brands/prada.png", class="w-6/12")