block content
  section(class="container w-full mx-auto mt-20 px-32 py-8 flex flex-wrap items-end justify-between")
    h1(class='text-3xl font-bold w-10/12') Category
    a(href="#" class="inline-flex items-center text-sm w-2/12 justify-end") 
      span.opacity-70 See all 
      button.btn.bg-blogblue.text-white.p-1.ml-2.border-blogblue.border-2
        svg.h-6.w-6(xmlns='http://www.w3.org/2000/svg' fill='none' viewbox='0 0 24 24' stroke='currentColor' stroke-width='2')
          path(stroke-linecap='round' stroke-linejoin='round' d='M17 8l4 4m0 0l-4 4m4-4H3')
    
    a(href="/category/$name").category-images.mt-10 
      div(class='c-images w-36 h-36 bg-blogblue border-r-4 border-b-4 border-r-blogblue border-b-blogblue rounded-full overflow-hidden relative')
        img(src="/images/sections/6.jpg", class="w-full rounded-full absolute left-2/4 top-2/4" style="transform: scale(1) translate(-50%, -50%)")
      .category-name.mt-5.text-center 
        h3.font-bold Dresses
    a(href="/category/$name").category-images.mt-10 
      div(class='c-images w-36 h-36 bg-blogblue border-r-4 border-b-4 border-r-blogblue border-b-blogblue rounded-full overflow-hidden relative')
        img(src="/images/sections/7.jpg", class="w-full rounded-full absolute left-2/4 top-2/4" style="transform: scale(1) translate(-50%, -50%)")
      .category-name.mt-5.text-center 
        h3.font-bold Tops
    a(href="/category/$name").category-images.mt-10 
      div(class='c-images w-36 h-36 bg-blogblue border-r-4 border-b-4 border-r-blogblue border-b-blogblue rounded-full overflow-hidden relative')
        img(src="/images/sections/8.jpg", class="w-full rounded-full absolute left-2/4 top-2/4" style="transform: scale(1) translate(-50%, -50%)")
      .category-name.mt-5.text-center 
        h3.font-bold Jeans
    a(href="/category/$name").category-images.mt-10 
      div(class='c-images w-36 h-36 bg-blogblue border-r-4 border-b-4 border-r-blogblue border-b-blogblue rounded-full overflow-hidden relative')
        img(src="/images/sections/9.jpg", class="w-full rounded-full absolute left-2/4 top-2/4" style="transform: scale(1) translate(-50%, -50%)")
      .category-name.mt-5.text-center 
        h3.font-bold Trousers
    a(href="/category/$name").category-images.mt-10 
      div(class='c-images w-36 h-36 bg-blogblue border-r-4 border-b-4 border-r-blogblue border-b-blogblue rounded-full overflow-hidden relative')
        img(src="/images/sections/10.jpg", class="w-full rounded-full absolute left-2/4 top-2/4" style="transform: scale(1) translate(-50%, -50%)")
      .category-name.mt-5.text-center 
        h3.font-bold Shirts
    a(href="/category/$name").category-images.mt-10 
      div(class='c-images w-36 h-36 bg-blogblue border-r-4 border-b-4 border-r-blogblue border-b-blogblue rounded-full overflow-hidden relative')
        img(src="/images/sections/11.jpg", class="w-full rounded-full absolute left-2/4 top-2/4" style="transform: scale(1) translate(-50%, -50%)")
      .category-name.mt-5.text-center 
        h3.font-bold Playsuits
      
