block content
  section(class="w-full mx-auto mt-20 px-32 py-20 flex flex-wrap items-end justify-between bg-gray-200")
    h1(class='text-3xl font-bold w-full text-center') 
      |Our blessed customers said
      br
      span(class='text-xl font-light') about their expecriance
      |
    
    a(href="/posts/$id" class="post-images mt-10 w-[31%] flex flex-wrap items-center justify-center bg-white py-10")
      div(class='p-images w-24 h-auto  overflow-hidden')
        img(src="/images/brands/burberry.png", class="w-full  left-2/4 top-2/4 mx-auto" #style='transform: translate(-50%, -50%)')
      div(class="text mx-auto w-full text-center")
        p(class='comment px-10 mt-5 text-base opacity-70') Lorem ipsum dolor sit amet consectetur adipisicing elit accusamus 
      div(class='customer-picture w-full mt-5')
        div(class='p-images w-32 h-32 relative bg-red-200 rounded-full overflow-hidden mx-auto')
          img(src="/images/sections/13.jpg", class="w-full absolute left-2/4 top-2/4 mx-auto" style='transform: translate(-50%, -50%)')
      div(class="text mx-auto w-full text-center")
        .customer-name.mt-5
          h3.font-bold Elizabeth
        .customer-title.py-2
          p.opacity-70.text-sm Product Manager @Cartier

    a(href="/posts/$id" class="post-images mt-10 w-[31%] flex flex-wrap items-center justify-center bg-white py-10")
      div(class='p-images w-24 h-auto  overflow-hidden')
        img(src="/images/brands/burberry.png", class="w-full  left-2/4 top-2/4 mx-auto" #style='transform: translate(-50%, -50%)')
      div(class="text mx-auto w-full text-center")
        p(class='comment px-10 mt-5 text-base opacity-70') Lorem ipsum dolor sit amet consectetur adipisicing elit accusamus 
      div(class='customer-picture w-full mt-5')
        div(class='p-images w-32 h-32 relative bg-red-200 rounded-full overflow-hidden mx-auto')
          img(src="/images/sections/14.jpg", class="w-full absolute left-2/4 top-2/4 mx-auto" style='transform: translate(-50%, -50%)')
      div(class="text mx-auto w-full text-center")
        .customer-name.mt-5
          h3.font-bold Elizabeth
        .customer-title.py-2
          p.opacity-70.text-sm Product Manager @Cartier

    a(href="/posts/$id" class="post-images mt-10 w-[31%] flex flex-wrap items-center justify-center bg-white py-10")
      div(class='p-images w-24 h-auto  overflow-hidden')
        img(src="/images/brands/burberry.png", class="w-full  left-2/4 top-2/4 mx-auto" #style='transform: translate(-50%, -50%)')
      div(class="text mx-auto w-full text-center")
        p(class='comment px-10 mt-5 text-base opacity-70') Lorem ipsum dolor sit amet consectetur adipisicing elit accusamus 
      div(class='customer-picture w-full mt-5')
        div(class='p-images w-32 h-32 relative bg-red-200 rounded-full overflow-hidden mx-auto')
          img(src="/images/sections/15.jpg", class="w-full absolute left-2/4 top-2/4 mx-auto" style='transform: translate(-50%, -50%)')
      div(class="text mx-auto w-full text-center")
        .customer-name.mt-5
          h3.font-bold Elizabeth
        .customer-title.py-2
          p.opacity-70.text-sm Product Manager @Cartier
    
    

      
