block content
  section(class="w-full bg-white h-full mx-0 mt-0 px-32 py-8 flex flex-wrap items-end justify-between")
    .container.mx-auto.px-12.flex.items-start.flex-wrap
      div(class="text w-3/6 leading-10")
        p(class="bannerContext text-gray-500") Grab it Fast
        h1(class="bannerTitle text-3xl font-bodybold my-3" style="line-height: 1.5em") Summer Collections&nbsp;
          span(class="highlight text-highlight") Sale
          br
          span Discount up 
          span.text-highlight 80%
        .button-area.mt-12 
          button(class="btn rounded-md bg-blogblue text-white px-5 mr-5 border-2 border-blogblue") Start Shopping

      div(class="image w-3/6 h-80 relative")
        div(style="transform: translate(-50%, -50%)" class='circle w-80 h-80 absolute top-2/4 left-2/4 rounded-full border-b-8 border-r-8 border-highlight overflow-hidden')
          img(src="/images/sections/3.png", style="#transform: translate(-50%, -50%) scale(1)" class="left-2/4 top-2/4 rounded-b-full")