extends ../layout.pug
block content 
  section(class="item w-full mx-0 mt-20 px-32 py-8 pb-20 flex flex-wrap items-end justify-between bg-gray-200 font-bold shadow-lg")
    div(class='flex w-full h-fit bg-white rounded-3xl ')
      div(class='w-1/5 relative text-white bg-blogblue rounded-tl-3xl rounded-bl-3xl py-20 pl-10')
        a(href="#" class='active mb-8 w-full block')
          span(class='w-full flex items-end')
            svg.h-6.w-6(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor')
              path(fill-rule='evenodd' d='M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z' clip-rule='evenodd')
            span(class='text-xl leading-4 px-5') Profile
        a(href="#" class='opacity-60 font-normal mb-8 w-full block')
          span(class='w-full flex items-end')
            svg.h-5.w-5(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor')
              path(d='M7 3a1 1 0 000 2h6a1 1 0 100-2H7zM4 7a1 1 0 011-1h10a1 1 0 110 2H5a1 1 0 01-1-1zM2 11a2 2 0 012-2h12a2 2 0 012 2v4a2 2 0 01-2 2H4a2 2 0 01-2-2v-4z')
            span(class='text-xl leading-4 px-5') Products
        a(href="#" class='opacity-60 font-normal mb-8 w-full block')
          span(class='w-full flex items-end')
            svg.h-6.w-6(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor')
              path(fill-rule='evenodd' d='M10 2a4 4 0 00-4 4v1H5a1 1 0 00-.994.89l-1 9A1 1 0 004 18h12a1 1 0 00.994-1.11l-1-9A1 1 0 0015 7h-1V6a4 4 0 00-4-4zm2 5V6a2 2 0 10-4 0v1h4zm-6 3a1 1 0 112 0 1 1 0 01-2 0zm7-1a1 1 0 100 2 1 1 0 000-2z' clip-rule='evenodd')
            span(class='text-xl leading-4 px-5') Orders
        a(href="#" class='opacity-60 font-normal mb-8 w-full block')
          span(class='w-full flex items-end')
            svg.h-6.w-6(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor')
              path(d='M5 4a2 2 0 012-2h6a2 2 0 012 2v14l-5-2.5L5 18V4z')
            span(class='text-xl leading-4 px-5') Bookmark
        a(href="#" class='opacity-60 font-normal mb-8 w-full block')
          span(class='w-full flex items-end')
            svg.h-6.w-6(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor')
              path(fill-rule='evenodd' d='M11.49 3.17c-.38-1.56-2.6-1.56-2.98 0a1.532 1.532 0 01-2.286.948c-1.372-.836-2.942.734-2.106 2.106.54.886.061 2.042-.947 2.287-1.561.379-1.561 2.6 0 2.978a1.532 1.532 0 01.947 2.287c-.836 1.372.734 2.942 2.106 2.106a1.532 1.532 0 012.287.947c.379 1.561 2.6 1.561 2.978 0a1.533 1.533 0 012.287-.947c1.372.836 2.942-.734 2.106-2.106a1.533 1.533 0 01.947-2.287c1.561-.379 1.561-2.6 0-2.978a1.532 1.532 0 01-.947-2.287c.836-1.372-.734-2.942-2.106-2.106a1.532 1.532 0 01-2.287-.947zM10 13a3 3 0 100-6 3 3 0 000 6z' clip-rule='evenodd')
            span(class='text-xl leading-4 px-5') Setting
      div(class='w-4/5 relative rounded-tr-3xl rounded-br-3xl pb-10')
        div(class='w-full bg-white shadow-md h-[20%] flex items-center px-10 font-bodybold')
          div(class='w-1/4') My Profile
          div(class='w-3/4 flex justify-end items-center')
            a(href="#" class='opacity-50')
              svg.h-5.w-5(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor')
                path(d='M10 2a6 6 0 00-6 6v3.586l-.707.707A1 1 0 004 14h12a1 1 0 00.707-1.707L16 11.586V8a6 6 0 00-6-6zM10 18a3 3 0 01-3-3h6a3 3 0 01-3 3z')
            a(href="#" class='w-[50px] h-[50px] mx-3')
              img(src=user.avatar, class="w-full h-full object-cover rounded-[50%] border-2")
            a(href="#" class='opacity-50')
              svg.h-5.w-5(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor')
                path(fill-rule='evenodd' d='M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z' clip-rule='evenodd')
        div(class='flex flex-wrap w-full h-fit p-8')
          div(class='w-1/4 border-r-2 border-solid')
            a(href="#" class='active mb-8 w-full block shadow-sm py-2')
              span(class='w-full flex items-end')
                svg.h-7.w-7(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor')
                  path(d='M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z')
                  path(fill-rule='evenodd' d='M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z' clip-rule='evenodd')
                span(class='text-lg leading-6 px-3') Edit Profile
                svg.h-7.w-7(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor')
                  path(fill-rule='evenodd' d='M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z' clip-rule='evenodd')
            a(href="#" class='active mb-8 w-full block opacity-60 py-2')
              span(class='w-full flex items-end')
                svg.h-5.w-5(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor')
                  path(d='M10 2a6 6 0 00-6 6v3.586l-.707.707A1 1 0 004 14h12a1 1 0 00.707-1.707L16 11.586V8a6 6 0 00-6-6zM10 18a3 3 0 01-3-3h6a3 3 0 01-3 3z')
                span(class='text-lg leading-6 px-3') Notification
            a(href="#" class='active mb-8 w-full block opacity-60 py-2')
              span(class='w-full flex items-end')
                svg.h-5.w-5(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='currentColor')
                  path(fill-rule='evenodd' d='M2.166 4.999A11.954 11.954 0 0010 1.944 11.954 11.954 0 0017.834 5c.11.65.166 1.32.166 2.001 0 5.225-3.34 9.67-8 11.317C5.34 16.67 2 12.225 2 7c0-.682.057-1.35.166-2.001zm11.541 3.708a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z' clip-rule='evenodd')
                span(class='text-lg leading-6 px-3') Security
          div(class='w-3/4 h-fit pt-10 pb-20 px-20')
            form(action="/user/update" menthod='PUT') 
              div(class='w-full')
                div(class='w-[200px] h-[200px] m-auto rounded-full overflow-hidden border-2')
                  img(src=user.avatar, class="w-full h-full object-cover")
              div(class='wrap mb-3')
                p(class='opacity-80 text-lg font-medium mb-3') Username:
                input(type='text' value=user.username class='border-2 p-name mx-1 text-sm uppercase p-2 w-full')
              div(class='wrap mb-3')
                p(class='opacity-80 text-lg font-medium mb-3') Email:
                input(type='email' value=user.email class='border-2 p-name mx-1 text-sm uppercase p-2 w-full')
              div(class='wrap mb-3')
                button(class='bg-blogblue text-white p-2 mt-5 rounded-lg float-right') Update Profile
  
              
                
 
